.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .button {
        align-self: flex-end;
        margin-top: 1rem;
        padding: .6rem 2rem;
    }
}

.form__label {
    font-weight: 500;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.form__item {
    margin-top: .5rem;
    padding: 1rem;
}

.form__success {
    text-align: center;
    padding: 2rem .5rem;
}

.form__success-title {
    font-size: 1.5em;

    @include rwd(md) {
        font-size: 1.7em;
    }
}

.form__link {
    font-size: 1.1em;
    background-color: rgba($red, .85);
    color: $white;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .2rem;
    transition: all 1s;

    &:hover {
        background-color: $red;
        color: $white;
    }
}